.breadcrumbs-container {
  width: 100%;
  font-size: 20px;
  display: flex;
  padding: 25px 0 1px;
}

.breadcrumbs img {
  width: 20px;
  height: auto;
}

/* Link */

.breadcrumbs-Link {
  text-decoration: none;
}

.breadcrumbs-Link:hover {
  color: #fdbb11;
}

@media (max-width: 768px) {
  .breadcrumbs-container {
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media (max-width: 1440px) {
  .breadcrumbs-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 1024px) {
  .breadcrumbs-container {
    padding-left: 24px;
    padding-right: 24px;
  }
}


