.breadcrumbs-container {
  width: 100%;
  font-size: 20px;
  display: flex;
  padding: 25px 0 1px;
}

.breadcrumbs img {
  width: 20px;
  height: auto;
}

/* Link */

.breadcrumbs-Link {
  text-decoration: none;
}

.breadcrumbs-Link:hover {
  color: #fdbb11;
}
