.footer {
    background-color: #7D1D1B;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8vh 1vw;
    overflow: hidden;
  }
  
  .footerlogocontainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
    position: relative;
  }
  
  .footerlogo {
    padding-left: 50%;
    height: 5vw;
    max-height: 60px;
    object-fit: contain;
    flex-shrink: 0;
    scale:1.1;
  }
  
  .sampleft,
  .sampright {
    position: absolute;
    top: 0;
    height: 100%;
    max-height: 12vw;
    width: auto;
    opacity: 0.95;
    z-index: 0;
  }
  
  .sampleft {
    left: -25px;
    scale: 2.5;
  }
  
  .sampright {
    right: -25px;
    scale: 2.5;
  }
  
  .navlinks {
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: right;
    gap: 3vw;
    flex: 1;
    z-index: 1;
  }
  
  .navlinks h2 {
    margin: 0;
    font-size: 0.9vw;
    min-width: 50px;
  }
  
  .navlinks Link {
    text-decoration: none;
    color: #ffe0bd;
    font-weight: 400;
  }
  
  .scrollToTopBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #541212;
    border: none;
    padding: 0.8vw 1.2vw;
    cursor: pointer;
    z-index: 1;
    font-size: 1vw;
    scale:0.75;
  }
  
  .scrollToTopBtn p {
    color: #ffe0bd;
    margin: 0 0.5vw 0 0;
  }
  
  .scrollToTopBtn img {
    width: 1.5vw;
    height: auto;
    object-fit: contain;
  }
  

  