@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    color: #4f1212;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    background-color: #7D1D1B;
    min-height: 100%; 
    height: auto;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 0; 
    padding-bottom: 0;
}

.headerlogo {
    max-width: 20%;
    width: 340px;
    object-fit: contain;
    scale: 1.08;
    display: block;
}

.headerlogocontainer {
    display: inline-block;
    width: 60%;  
    height: auto; 
    overflow: hidden; 
}

.logocenter {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.sumanleft {
    opacity: 95%;
    max-width: 12%;
    height: auto;
    position: absolute;
    left: 0;
    object-fit: contain;
    scale: 1.15;
}

.sumanright {
    opacity: 95%;
    max-width: 12%;
    height: auto;
    object-fit: contain;
    position: absolute;
    right: 0;
    transform: scaleX(-1);
    scale: 1.10;
    overflow: hidden;
}

.headernav {
    background-color: #ffc787;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0; 
    margin: 0; 
}

.headernav h2 {
    margin: 5px 0; /* Reduce vertical margin */
    padding: 0px 40px; /* Adjust padding */
}

.headernav p {
    margin: 0;
    padding: 3px 0; /* Minimize padding */
}

.headernav table {
    margin: 0 auto; 
    border-collapse: collapse; 
}

.headernav a {
    text-decoration: none;
    font-size: clamp(10px, 2vw, 20px);
    font-weight: 600;
    padding: clamp(0px, 150vw, 10px) clamp(0px, 4vw, 100px);
    position: relative;
    transition: color 0.3s ease-in-out;
}

.headernav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px; 
    width: 100%;
    height: 3px;
    background-color: #4f1212; 
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.headernav a:hover {
    color: #ff3737;
 
}

.headernav a:hover::after {
    transform: scaleX(1);
    
}

.headernav a.active, 
.headernav a:focus {
    color: #ffffff;
}

.headernav a.active::after, 
.headernav a:focus::after {
    transform: scaleX(1);
}