.recipetemplatecontainer {
  padding: clamp(20px, 5vw, 10px) clamp(20px, 5vw, 75px);
}

.recipetempcontainercontainer {
  width: 100%;
  height: auto;
  font-size: clamp(1rem, 2vw, 1.25rem);
}

.recipetemplatecontainer h1 {
  font-size: clamp(24px, 3vw, 35px);
  padding-bottom: 10px;
}

.recipetempsubtopictitle {
  padding: 0;
}

.recipetempdesc {
  font-size: clamp(16px, 2vw, 20px);
  padding: clamp(8px, 2vw, 12px) 0;
}

.recipetempimage {
  width: 60vw;
  object-fit: cover;
  height: clamp(200px, 30vw, 575px);
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

.recipetemplist {
  padding: 0 clamp(20px, 5vw, 100px) 0 clamp(15px, 3vw, 50px);
  font-size: clamp(16px, 2vw, 20px);
  margin: 0;
  padding: 0;
  width: 65vw;
}

.recipetemp-amount {
  color: #817171;
  font-weight: 400;
}

/*
.recipetemp-ingredientlist {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 0.5rem;
}
*/

.recipetemplist table {
  table-layout: auto;
  width: auto;
  border-collapse: collapse;
}

.recipetemp-ingredientlist td {
  padding: 5px 0 5px 0;
  border-bottom: 3px solid #ffc787;
}

.recipetemp-ingredientlist td:first-child {
  width: clamp(100px, 10vw, 200px);
}

.recipetemp-ingredientlist td:last-child {
  width: auto;
}

.recipetemp-steps-step {
  font-weight: bold;
}

/* skeleton */

.recipetemp-name-skel {
  background-color: lightgrey;
  padding-bottom: 10px;
  width: 200px;
  height: 50px;
  border-radius: 9px;
}

.recipetemp-subname-skel {
  background-color: lightgrey;
  padding-bottom: 0;
  width: 200px;
  height: 50px;
  border-radius: 9px;
}

.recipetemp-desc-skel {
  background-color: lightgrey;
  padding-bottom: 0;
  width: 65vw;
  height: 200px;
  border-radius: 9px;
}
