.reclist-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 20px;
}

.reclist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  max-width: 1500vh;
  margin: 0 auto;
  /*border: 1px solid green;*/
}

.reclist-title {
  text-align: center;
  line-height: 1;
  height: 10vh;
  margin-bottom: 30px;
}

.reclist-title h1 {
  font-size: 50px;
}

.reclist-title i {
  font-size: 20px;
}

.reclist-title hr {
  border: 1px solid #4f1212;
  width: 1000px;
}

/* Buttons */

.reclist-tabButtons {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.reclist-searchBar input {
  width: 250px;
  height: 40px;
  background-color: #ffe5c7;
  border: 2px solid #4f1212;
  border-radius: 5px;
  padding-left: 10px;
  font-weight: 550;
}

.reclist-allButtons {
  display: flex;
  gap: 30px;
  margin: auto;
}

.reclist-button {
  background-color: #bb1f1f;
  border-radius: 100px;
  border: 4px solid transparent;
  color: white;
  width: 210px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  box-sizing: border-box;
}

.reclist-button:hover,
.reclist-button:active {
  border-color: #fdbb11;
}

.reclist-selectedButton {
  border: 4px solid #fdbb11;
  color: #fdbb11;
}

.allRecipes-container {
  display: flex;
  align-items: flex-start;
}

/* Recipes */

.reclist-recipes {
  flex-grow: 1; /*this is what makes it take the whole space */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns*/
  row-gap: 40px;
  column-gap: 30px;
  padding-bottom: 50px;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 310px;
  height: auto;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.recipe-card:hover {
  transform: scale(1.05);
}

.recipe-card img {
  margin: 0;
  padding: 0;
  background-color: lightgrey;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.recipe-card h3 {
  color: black;
  margin: 5px;
  margin-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe-card p {
  color: black;
  margin: 5px;
  margin-top: 0;
  margin-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Loading skeleton */

.recipe-skelCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 310px;
  height: 250px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  padding: 0;
}

.recipe-skelCard img {
  display: block;
  margin: 0;
  padding: 0;
  background-color: lightgrey;
  width: 100%;
  height: 200px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.recipe-skelCard h3 {
  margin: 5px;
  margin-left: 15px;
  background-color: lightgrey;
}
