.faq-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.faq-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 1500px;
  text-align: center;
  margin: 0 auto;
}

.faq-title {
  text-align: center;
  line-height: 0.1;
}

.faq-title h1 {
  font-size: 64px;
}

.faq-title i {
  font-size: 24px;
}

.faq-title hr {
  border: 1px solid #4f1212;
  width: 1000px;
}

.faq-question {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #ffe4c6;
  border-radius: 7px;
  width: 1050px;
  margin-bottom: 25px;
}
.faq-quesTitle {
  padding: 10px 25px;
  border-radius: 7px;
  border: 2px solid #9e7b52;
  cursor: pointer;
}

.faq-quesContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.faq-quesTitle h3 {
  font-size: 30px;
  margin: 0;
}

.faq-quesTitle img {
  height: 25px;
}

.faq-answer {
  padding-left: 25px;
  font-size: 20px;
}
