.faq-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border: 1px solid green;
}

.faq-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 100vh; /* Full page height */
  width: 100%;
  max-width: 1500px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid blue;
}

.faq-quesTitle img {
  height: 20px;
  margin-left: auto;
}

.faq-title {
  text-align: center;
  border: 1px solid red;
  line-height: 0.1;
}

.faq-title h1 {
  font-size: 64px;
}

.faq-title i {
  font-size: 24px;
}

.faq-title hr {
  border: 1px solid #4f1212;
  width: 1000px;
}

.faq-question {
  text-align: left;
  background-color: #ffe4c6;
  border: 2px solid #9e7b52;
  border-radius: 10px;
  width: 1050px;
}
